
<div class = "tableview">
        <table style="width:100%">
          <tr>
            
            <th  *ngFor= 'let column of header '>{{column}}<button ng-click="sorting()"><i class="fa fa-sort-asc" aria-hidden="true"></i>
            </button></th>
            
        </tr>
        
                <tr *ngFor='let data of data'>
                
                  <td *ngFor="let column of header">{{data[column]}}</td>
                  
                </tr>
          </table>
</div>

          